.body {
  color: navy;
  background-color: wheat;
  height: 100%;
}
* {
  font-family: "Times New Roman", Times, serif;
}
.App {
  color: #eee1b3;
  text-align: center;
  background-color: #8e4a49;
}
.header {
  border-bottom-right-radius: 10px;
}
.active {
  background-color: #4e0052;
}
